<div  class="container">
  <div class="ds" *appLoading></div>
  <div class="row justify-content-center">
    <div class="input-group mb-3 mt-3">
      <input
        type="text"
        class="form-control"
        placeholder="Filter hotels"
        aria-label="Filter hotels"
        aria-describedby="basic-addon1"
        (input)="changeFilter($event)"
      />
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="btn-group" role="group" aria-label="First group">
      <button
        type="button"
        class="btn btn-success"
        (click)="addStarFilter('All')"
      >
        All
      </button>
      <app-stars
        *ngFor="let starsCount of ['3', '4', '5']; trackBy:trackByFn"
        [starsCount]="starsCount"
        [starsClass]="star.includes(starsCount)"
        (starsClicked)="addStarFilter($event)"
      ></app-stars>
    </div>
  </div>
</div>
