<div class="list-group" *loadElse="hotels.length || isLoaded">
  <div class="row align-items-center" *ngIf="activeHotel">
    <img
      src="{{ activeHotel.picture }}"
      class="hotelImg rounded mx-auto d-block"
      alt="{{ activeHotel.description }}"
    />
  </div>
  <br />
  <div class="row">
    <a
      *ngFor="
        let hotel of (hotels | filter);
        odd as odd;
        trackBy: trackHotelsByFn
      "
      (click)="setActiveHotel(hotel)"
      class="list-group-item list-group-item-action"
      [ngClass]="{
        active: activeHotel === hotel,
        'list-group-item-secondary': odd && activeHotel !== hotel
      }"
    >
      <div class="container">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <app-text-highlight
              [text]="hotel.title"
            ></app-text-highlight>
          </h5>
          <small>{{ hotel.phone }}</small>
        </div>
        <div class="row">
          <div class="col">
            <p class="mb-1">
              <app-text-highlight
                [text]="hotel.description"
              ></app-text-highlight>
            </p>
          </div>
          <div class="col">
            <img
              *ngFor="let photoUrl of hotel.photos; trackBy: trackPicturesByFn"
              class="rounded-circle w-50"
              src="{{ photoUrl }}"
            />
          </div>
        </div>
      </div>
      <button
        (click)="addHotelToFavorites(hotel, $event)"
        class="btn"
        [ngClass]="{
          'btn-warning': isHotelInFavorite(hotel),
          'btn-success': !isHotelInFavorite(hotel)
        }"
      >
        {{
          isHotelInFavorite(hotel) ? 'Vote for this hotel' : 'Add to favorites'
        }}
      </button>
    </a>
  </div>
  <div class="list-group" *ngIf="!isHotelsFiltered">
    No valid hotels for your filters
    {{isHotelsFiltered}}
  </div>
</div>
