<div class="container">
  <div  class="d-flex justify-content-between">
    <div class="col-5 hotelList">
      <app-list
        [hotels]="filteredHotels$ | async"
        [isLoaded]="isFirstLoadDone"
      ></app-list>
    </div>
    <div class="col-5 hotelView">
      <div class="row justify-content-center">
        <app-filter></app-filter>
      </div>
      <div class="hotel-info pb-3 pt-3 rounded" *ngIf="activeHotel$ | async">
        <app-hotel-info [activeHotel]="activeHotel$ | async"></app-hotel-info>
      </div>
    </div>
  </div>
</div>
