<div class="container">
  <div class="row justify-content-center">
    <app-filter></app-filter>
  </div>
  <div class="row justify-content-around">
    <div class="col-5">
      <app-list
        (setActive)="setActiveHotel($event)"
        [hotels]="filteredHotels"
        [activeHotel]="activeHotel"
        [isLoaded]="isFirstLoadDone"
      ></app-list>
    </div>
    <div class="col-5">
        <div class="row justify-content-around align-content-center">
            <div class="col-6">
              <app-weather [weather]="activeHotel?.weather"></app-weather>
        </div>
        <div class="col-6">
          <app-profile [profile]="activeHotel?.profile"></app-profile>
        </div>
      </div>
      <div class="row justify-content-center">
        <app-favorite-hotels></app-favorite-hotels>
      </div>
    </div>
  </div>
</div>
