
<div class="card text-center" *ngIf="hotel">
  <div class="card-header">
    <a [routerLink]="['/hotels', hotel.id]">{{hotel.title}}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Address: {{hotel.address}}</h5>
    <p class="card-text">
      {{hotel.description}}
    </p>
    <a [routerLink]="['/hotels', hotel.id, 'comments']" class="btn btn-primary">Comments</a>
    <a [routerLink]="['/hotels', hotel.id, 'contacts']" class="btn btn-primary">Contacts</a>
  </div>
  <router-outlet></router-outlet>
  <div class="card-footer text-muted">
    <img src="{{hotel.picture}}">
  </div>
</div>
