<h2>Login</h2>
<form [formGroup]="loginForm">
  <label for="username">Username</label>
  <input type="text" id="username" formControlName="username">
  <div *ngIf="loginForm.controls.username.errors?.pattern">
    use pattern!!!
  </div>
  <div *ngIf="loginForm.controls.username.errors?.required">
    required!!!
  </div>
  <label for="username">Password</label>
  <input type="password" id="password" formControlName="password">

  <button type="submit" (click)="onSubmit()">Login</button>
</form>
